# lprd-core
CORE_BASE_URL=http://localhost:3000
WORKOS_AUTHKIT_DOMAIN=https://your-org.authkit.app
WORKER_CLIENT_ID=client_your_worker_client_id_here
WORKER_CLIENT_SECRET=secret_your_worker_client_secret_here

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# REDIS_PASSWORD=
